<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" CONTENT="Discover the best restaurant for you">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mushie mush</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#d00000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
</head>

<body>
    <a href="#content" class="skip-link">Skip to content</a>
    <nav class="navbar">
        <div class="navbar-container container">
            <a href="#/" class="logo" aria-label="logo mushie mush">mushie mush</a>
            <button class="navbar-menu__toggle" aria-label="navbar toggle" id="navButton">
                <div class="toggle--line"></div>
                <div class="toggle--line"></div>
                <div class="toggle--line"></div>
            </button>
            <div class="navbar-menu" role="navigation" id="navDrawer">
                <a class="navbar-menu__link" href="#/">Home</a>
                <a class="navbar-menu__link" href="#/fav">Favorite</a>
                <a class="navbar-menu__link" href="https://www.linkedin.com/in/marcello-sebastian-542b2b1b0/">About
                    Us</a>
            </div>

        </div>
    </nav>

    <main class="main-content" id="mainContent">
    </main>

    <footer class="footer">
        <div class="footer-container container">
            <a class="logo" href="/" aria-label="logo mushie mush">mushie mush</a>
            <div class="footer-menu" role="navigation">
                <a class="footer-menu__link" href="/">Home</a>
                <a class="footer-menu__link" href="#">Favorite</a>
                <a class="footer-menu__link" href="https://www.linkedin.com/in/marcello-sebastian-542b2b1b0/">About
                    Us</a>
            </div>
            <hr />
            <span>Copyright © 2021 - mushie mush</span>
        </div>
    </footer>

</body>

</html>